.box{
    width: 100%;
    max-width: 1024px;
    padding: 20%;
}

.box::after{
    content: '';
    display: block;
    padding: 20%;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

main{
    line-height: 2.2em;
}

header{
    background-color: lavender;
}

footer{
    background-color: black;
   color: aliceblue;
}
